#header{    
    position: absolute;
    font-family:'Times New Roman', Times, serif;
    color:white;
    font-size: 18px;
    font-weight: 300;
    background-color: #56a4fe;
    line-height: 90px;
    width:100%;
    right: 0px;
    top: 0px;
}
#login{
    top: 30%;
    text-align: center;
    position: absolute;
}